<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <!--   <target  encoding="utf-8"/>  避免中文乱码 -->
    <target name="file1"
            xsi:type="File"
            fileName="${basedir}\logs\${date:format=yyyyMMdd}.log"
            layout="时间:${longdate} ${newline}等级data:${level} ${newline}消息info:${message} ${newline}计数器:${counter:increment=1:sequence=Layout:value=1}${newline}"
            encoding="utf-8" />


    <!--  指定名称 日志输出 -->
    <target name="mylogfileabc"
        xsi:type="File"
        fileName="${basedir}\logs\${shortdate}_123456.log"
        layout="${longdate} ${level}  ${message}"     />


    <target name="fileid"
        xsi:type="File"
        fileName="${basedir}\logs\${date:format=yyyyMMdd}_Error.log"
        layout="${longdate}  ${message}${newline}"
        encoding="utf-8" />

  </targets>

  <rules>

    <!--   日志输出 -->
    <logger name="*"           
            level="Info"             
            writeTo="file1"/>

    <logger name="*" 
            level="Error" 
            writeTo="fileid"/>

    <logger name="mylognameabc" level="Info" writeTo="mylogfileabc"/>
  </rules>
</nlog>


 