<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfDemoNet6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfDemoNet6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WpfDemoNet6.Properties.Settings.con" connectionString="dataeeee" />
    </connectionStrings>
    <userSettings>
        <WpfDemoNet6.Properties.Settings>
            <setting name="str1" serializeAs="String">
                <value>vv</value>
            </setting>
            <setting name="bl1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="date1" serializeAs="String">
                <value>2020-01-01</value>
            </setting>
            <setting name="int1" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="设置1" serializeAs="String">
                <value />
            </setting>
        </WpfDemoNet6.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WpfDemoNet6.Properties.Settings>
            <setting name="str2" serializeAs="String">
                <value>vv2</value>
            </setting>
        </WpfDemoNet6.Properties.Settings>
    </applicationSettings>
</configuration>